<%= form_with url: matches_path do %>
 <p>
  Winner:<%= select_tag :winner_id,options_from_collection_for_select(@players, :id, :name),id: "winner_select" %>
</p>
<p>
    Loser: <%= select_tag :loser_id,options_from_collection_for_select(@players, :id, :name),id: "loser_select",disabled: true %>
</p>
  <%= submit_tag "Create Match" %>
<% end %>